{% block content %}
<div class='row' id="page_publishers" style="display:none">
    <form class='col-md-4 col-12 px-sm-1' id="publisher_entry">
        <input type='hidden' id='publisher_id' value='0' />
        <div id='fields' class='px-1 px-sm-2 px-md-3 px-lg-4 py-2 bg-light rounded-top'>
            <div class='form-group mb-1 mb-md-3'>
                <label for='publisher_name' class='mr-sm-2 mb-0 mb-sm-1'>Name</label>
                <input type='text' class='form-control mb-sm-0 mb-2 mr-sm-2 px-sm-1 py-sm-0 publisher_field' id='publisher_name' />
            </div>
        </div>
        <div id='controls' class='container-fluid px-4 py-1 bg-light rounded-bottom'>
            <div class='row d-flex justify-content-between'>
                <button type='button' class='btn btn-outline-primary btn-sm mt-1 ' id="btn_view_all_publishers">View All</button>
                <button type='button' class='btn btn-outline-primary btn-sm mt-1 ' id='btn_search' disabled>Search</button>
                <div>
                    <button type='button' class='btn btn-outline-primary btn-sm mt-1 ' id='btn_add_publisher' disabled>Add Publisher</button>
                    <button type='button' class='btn btn-outline-primary btn-sm mt-1 ' id='btn_update_publisher' disabled>Update Publisher</button>
                </div>
            </div>
            <div class='row d-flex justify-content-between mt-2'>
                <button type='button' class='btn btn-outline-primary btn-sm mr-sm-2' id='btn_clear_form_publisher'>Clear Form</button>
                <button type='button' class='btn btn-outline-danger btn-sm' id='btn_delete_publisher' disabled>Delete Publisher</button>
            </div>
        </div>
    </form>
    <table class='table table-hover col-md-8 col-12' id='publisher_list'>
        <thead><tr><th>Name</th></tr></thead>
        <tbody>
            <tr><td></td></tr>
        </tbody>
    </table>
</div>
<script src="{{ url_for('static', filename='BookListPublishers.js') }}"></script>
{% endblock %}
