<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9b65bfd06a.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='jquery.caret.js') }}"></script>
    <script src="{{ url_for('static', filename='BookList.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <header class="container-fluid bg-primary">
        <h1 class="text-light pb-1">Simple Book List Web App</h1>
    </header>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger">
        <p class="lead">{{ message }}</p>
      </div>
    {% endfor %}
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="#" id="link_books">Books</a></li>
            <li class="nav-item"><a class="nav-link" href="#" id="link_authors">Authors</a></li>
            <li class="nav-item"><a class="nav-link" href="#" id="link_publishers">Publishers</a></li>
        </ul>
    </nav>
    {%block content%}
    {%endblock%}
</body>
</html>
